$initial_delay: 5;
$sky_height: 86vh;
$duck_width: 5vw;

@keyframes letter_spacing_title {
  0% {
    letter-spacing: 5vw;
    color: #ffffff;
    transform: translateX(0);
  }
  80% {
    letter-spacing: normal;
    color: #ffffff;
    transform: translateX(0);
  }
  99% {
    letter-spacing: normal;
    color: transparent;
    transform: translateX(0);
  }
  100% {
    letter-spacing: normal;
    color: transparent;
    transform: translateX(-500vw);
  }
}

@keyframes duck_fly-1 {
  0% {
    left: -$duck_width;
    bottom: random(100) * 1%;
  }
  25% {
    left: 25vw;
    bottom: random(100) * 1%;
  }
  50% {
    left: 50vw;
    bottom: random(100) * 1%;
  }
  75% {
    left: 75vw;
    bottom: random(100) * 1%;
  }
  99.7% {
    left: 100vw - $duck_width;
    bottom: random(100) * 1%;
  }
  99.8% {
    left: 100vw;
    bottom: random(100) * 1%;
  }
  99.9% {
    left: 100vw;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
  100% {
    left: -$duck_width;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
}

@keyframes duck_fly-2 {
  0% {
    left: -$duck_width;
    bottom: random(100) * 1%;
  }
  25% {
    left: 25vw;
    bottom: random(100) * 1%;
  }
  50% {
    left: 50vw;
    bottom: random(100) * 1%;
  }
  75% {
    left: 75vw;
    bottom: random(100) * 1%;
  }
  99.7% {
    left: 100vw - $duck_width;
    bottom: random(100) * 1%;
  }
  99.8% {
    left: 100vw;
    bottom: random(100) * 1%;
  }
  99.9% {
    left: 100vw;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
  100% {
    left: -$duck_width;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
}

@keyframes duck_fly-3 {
  0% {
    left: -$duck_width;
    bottom: random(100) * 1%;
  }
  25% {
    left: 25vw;
    bottom: random(100) * 1%;
  }
  50% {
    left: 50vw;
    bottom: random(100) * 1%;
  }
  75% {
    left: 75vw;
    bottom: random(100) * 1%;
  }
  99.7% {
    left: 100vw - $duck_width;
    bottom: random(100) * 1%;
  }
  99.8% {
    left: 100vw;
    bottom: random(100) * 1%;
  }
  99.9% {
    left: 100vw;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
  100% {
    left: -$duck_width;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
}

@keyframes duck_fly-4 {
  0% {
    left: -$duck_width;
    bottom: random(100) * 1%;
  }
  25% {
    left: 25vw;
    bottom: random(100) * 1%;
  }
  50% {
    left: 50vw;
    bottom: random(100) * 1%;
  }
  75% {
    left: 75vw;
    bottom: random(100) * 1%;
  }
  99.7% {
    left: 100vw - $duck_width;
    bottom: random(100) * 1%;
  }
  99.8% {
    left: 100vw;
    bottom: random(100) * 1%;
  }
  99.9% {
    left: 100vw;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
  100% {
    left: -$duck_width;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
}

@keyframes duck_fly-5 {
  0% {
    left: -$duck_width;
    bottom: random(100) * 1%;
  }
  25% {
    left: 25vw;
    bottom: random(100) * 1%;
  }
  50% {
    left: 50vw;
    bottom: random(100) * 1%;
  }
  75% {
    left: 75vw;
    bottom: random(100) * 1%;
  }
  99.7% {
    left: 100vw - $duck_width;
    bottom: random(100) * 1%;
  }
  99.8% {
    left: 100vw;
    bottom: random(100) * 1%;
  }
  99.9% {
    left: 100vw;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
  100% {
    left: -$duck_width;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
}

@keyframes duck_fly-6 {
  0% {
    left: -$duck_width;
    bottom: random(100) * 1%;
  }
  25% {
    left: 25vw;
    bottom: random(100) * 1%;
  }
  50% {
    left: 50vw;
    bottom: random(100) * 1%;
  }
  75% {
    left: 75vw;
    bottom: random(100) * 1%;
  }
  99.7% {
    left: 100vw - $duck_width;
    bottom: random(100) * 1%;
  }
  99.8% {
    left: 100vw;
    bottom: random(100) * 1%;
  }
  99.9% {
    left: 100vw;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
  100% {
    left: -$duck_width;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
}

@keyframes duck_fly-7 {
  0% {
    left: -$duck_width;
    bottom: random(100) * 1%;
  }
  25% {
    left: 25vw;
    bottom: random(100) * 1%;
  }
  50% {
    left: 50vw;
    bottom: random(100) * 1%;
  }
  75% {
    left: 75vw;
    bottom: random(100) * 1%;
  }
  99.7% {
    left: 100vw - $duck_width;
    bottom: random(100) * 1%;
  }
  99.8% {
    left: 100vw;
    bottom: random(100) * 1%;
  }
  99.9% {
    left: 100vw;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
  100% {
    left: -$duck_width;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
}

@keyframes duck_fly-8 {
  0% {
    left: -$duck_width;
    bottom: random(100) * 1%;
  }
  25% {
    left: 25vw;
    bottom: random(100) * 1%;
  }
  50% {
    left: 50vw;
    bottom: random(100) * 1%;
  }
  75% {
    left: 75vw;
    bottom: random(100) * 1%;
  }
  99.7% {
    left: 100vw - $duck_width;
    bottom: random(100) * 1%;
  }
  99.8% {
    left: 100vw;
    bottom: random(100) * 1%;
  }
  99.9% {
    left: 100vw;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
  100% {
    left: -$duck_width;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
}

@keyframes duck_fly-9 {
  0% {
    left: -$duck_width;
    bottom: random(100) * 1%;
  }
  25% {
    left: 25vw;
    bottom: random(100) * 1%;
  }
  50% {
    left: 50vw;
    bottom: random(100) * 1%;
  }
  75% {
    left: 75vw;
    bottom: random(100) * 1%;
  }
  99.7% {
    left: 100vw - $duck_width;
    bottom: random(100) * 1%;
  }
  99.8% {
    left: 100vw;
    bottom: random(100) * 1%;
  }
  99.9% {
    left: 100vw;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
  100% {
    left: -$duck_width;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
}

@keyframes duck_fly-10 {
  0% {
    left: -$duck_width;
    bottom: random(100) * 1%;
  }
  25% {
    left: 25vw;
    bottom: random(100) * 1%;
  }
  50% {
    left: 50vw;
    bottom: random(100) * 1%;
  }
  75% {
    left: 75vw;
    bottom: random(100) * 1%;
  }
  99.7% {
    left: 100vw - $duck_width;
    bottom: random(100) * 1%;
  }
  99.8% {
    left: 100vw;
    bottom: random(100) * 1%;
  }
  99.9% {
    left: 100vw;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
  100% {
    left: -$duck_width;
    bottom: random(100) * 1%;
    visibility: hidden;
  }
}

* {
  margin: 0;
  padding: 0;
}

section,
div {
  box-sizing: border-box;
}

.play_field {
  width: 100%;
  height: 100vh;
  background-image: url(../img/Play_field.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  counter-reset: duck_count;
  cursor: crosshair;
}

.play_field__sky {
  width: 100%;
  height: $sky_height;
  position: relative;
}

.play_field__sky__title {
  text-align: center;
  padding-top: 40vh;
  font-size: 60px;
  line-height: 66px;
  color: #ffffff;
  animation: letter_spacing_title 5s linear 1 0s forwards;
}

.play_field__sky__duck__checkbox[type="checkbox"] {
  position: absolute;
  left: -900px;
  visibility: hidden;
}

.play_field__sky__duck__checkbox[type="checkbox"]:checked {
  counter-increment: duck_count;
}

.play_field__sky__duck__checkbox[type="checkbox"]:checked
  + .play_field__sky__duck__label {
  display: none;
}

.play_field__sky__duck__label {
  position: absolute;
}

.play_field__sky__duck__label-1 {
  animation: duck_fly-1 ((1 + random($limit: 5)) * 1s) linear
    (($initial_delay - 1 + random($limit: 15)) * 1s) 1 reverse both;
  transform: rotateY(180deg);
}

.play_field__sky__duck__label-2 {
  animation: duck_fly-2 ((1 + random($limit: 5)) * 1s) linear
    (($initial_delay + 0 + random($limit: 15)) * 1s) 1 reverse both;
  transform: rotateY(180deg);
}

.play_field__sky__duck__label-3 {
  animation: duck_fly-3 ((1 + random($limit: 5)) * 1s) linear
    (($initial_delay + 1 + random($limit: 15)) * 1s) 1 reverse both;
  transform: rotateY(180deg);
}

.play_field__sky__duck__label-4 {
  animation: duck_fly-1 ((1 + random($limit: 5)) * 1s) linear
    (($initial_delay + 2 + random($limit: 15)) * 1s) 1 reverse both;
  transform: rotateY(180deg);
}

.play_field__sky__duck__label-5 {
  animation: duck_fly-1 ((1 + random($limit: 5)) * 1s) linear
    (($initial_delay + 3 + random($limit: 15)) * 1s) 1 reverse both;
  transform: rotateY(180deg);
}

.play_field__sky__duck__label-6 {
  animation: duck_fly-1 ((1 + random($limit: 5)) * 1s) linear
    (($initial_delay + 4 + random($limit: 15)) * 1s) 1 normal both;
}

.play_field__sky__duck__label-7 {
  animation: duck_fly-1 ((1 + random($limit: 5)) * 1s) linear
    (($initial_delay + 5 + random($limit: 15)) * 1s) 1 normal both;
}

.play_field__sky__duck__label-8 {
  animation: duck_fly-1 ((1 + random($limit: 5)) * 1s) linear
    (($initial_delay + 6 + random($limit: 15)) * 1s) 1 normal both;
}

.play_field__sky__duck__label-9 {
  animation: duck_fly-1 ((1 + random($limit: 5)) * 1s) linear
    (($initial_delay + 7 + random($limit: 15)) * 1s) 1 normal both;
}

.play_field__sky__duck__label-10 {
  animation: duck_fly-1 ((1 + random($limit: 5)) * 1s) linear
    (($initial_delay + 8 + random($limit: 15)) * 1s) 1 normal both;
}

.play_field__sky__duck__label__img {
  width: $duck_width;
  height: auto;
}

.play_field__sky__duck__label__img:hover {
  cursor: grab;
}

.play_field__sky__duck__label__img:active {
  cursor: grabbing;
}

.play_field__land {
  width: 100%;
  height: 100vh - $sky_height;
  padding: 20px;
}

.play_field__land__count {
  text-align: right;
  font-size: 40px;
  line-height: 44px;
  color: #ffffff;
}

.play_field__land__count::after {
  content: counter(duck_count);
  font-size: 40px;
  line-height: 44px;
  margin-left: 10px;
  color: #ffffff;
}
