$button_shift: 1vh;

@mixin ticker_font($fs: 9vh, $lh: 10vh) {
  font-size: $fs;
  line-height: $lh;
}

@mixin link_font($fs: 4vh, $lh: 5vh) {
  font-size: $fs;
  line-height: $lh;
}

@mixin main_title_font {
  font-size: 12vh;
  line-height: 10vh;
}

@font-face {
  font-family: "KoHo";
  src: url("../fonts/KoHo/koho-bold-webfont.woff2") format("woff2"),
    url("../fonts/KoHo/koho-bold-webfont.woff") format("woff"),
    url("../fonts/KoHo/KoHo-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather/merriweather-light-webfont.woff2")
      format("woff2"),
    url("../fonts/Merriweather/merriweather-light-webfont.woff") format("woff"),
    url("../fonts/Merriweather/Merriweather-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather/merriweather-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/Merriweather/merriweather-regular-webfont.woff")
      format("woff"),
    url("../fonts/Merriweather/Merriweather-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/roboto-light-webfont.woff2") format("woff2"),
    url("../fonts/Roboto/roboto-light-webfont.woff") format("woff"),
    url("../fonts/Roboto/Roboto-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/roboto-regular-webfont.woff2") format("woff2"),
    url("../fonts/Roboto/roboto-regular-webfont.woff") format("woff"),
    url("../fonts/Roboto/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

section,
div {
  box-sizing: border-box;
}

.play_field {
  width: 100%;
  height: 100vh;
  background-color: #0099ff;
  background-image: url(../img/Play_field.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  padding: 10vh 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.play_field__ticker__text {
  color: green;
  text-align: right;
  @include ticker_font;
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  white-space: nowrap;
}

.play_field__main {
  margin-top: 10vh;
  margin-left: 10vw;
  display: flex;
  justify-content: space-between;
}

.play_field__main__menu {
  display: flex;
  flex-direction: column;
}

.play_field__main__menu__level {
  width: 10vw;
  height: 5vh;
  color: blue;
  background: #00ffff47;
  @include link_font;
  padding: 1vh 2vw;
  margin-top: 2vh;
  border-radius: 2vh;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 400;
  text-decoration: none;
  text-align: center;
}

.play_field__main__menu__level:hover {
  color: cyan;
  background: #0000ff87;
}

.play_field__main__menu__level:active {
  transform: translateY($button_shift);
}

.play_field__main__sticker {
  background-image: url(../img/favicon_duck_hunt_new.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  width: 46vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.play_field__main__sticker__title {
  text-align: center;
  white-space: nowrap;
  @include main_title_font;
  color: yellow;
  font-family: "KoHo", "Oswald", sans-serif;
  font-weight: 500;
}
