@-webkit-keyframes letter_spacing_title {
  0% {
    letter-spacing: normal;
    color: transparent;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  0.1% {
    letter-spacing: normal;
    color: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    letter-spacing: normal;
    color: #ffffff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99.9% {
    letter-spacing: 10vw;
    color: transparent;
    -webkit-transform: scale(20);
            transform: scale(20);
  }
  100% {
    letter-spacing: 10vw;
    color: transparent;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes letter_spacing_title {
  0% {
    letter-spacing: normal;
    color: transparent;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  0.1% {
    letter-spacing: normal;
    color: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    letter-spacing: normal;
    color: #ffffff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99.9% {
    letter-spacing: 10vw;
    color: transparent;
    -webkit-transform: scale(20);
            transform: scale(20);
  }
  100% {
    letter-spacing: 10vw;
    color: transparent;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes duck_fly-1 {
  0% {
    left: -5vw;
    bottom: 81%;
  }
  25% {
    left: 25vw;
    bottom: 58%;
  }
  50% {
    left: 50vw;
    bottom: 27%;
  }
  75% {
    left: 75vw;
    bottom: 66%;
  }
  100% {
    left: 100vw;
    bottom: 83%;
  }
}

@keyframes duck_fly-1 {
  0% {
    left: -5vw;
    bottom: 81%;
  }
  25% {
    left: 25vw;
    bottom: 58%;
  }
  50% {
    left: 50vw;
    bottom: 27%;
  }
  75% {
    left: 75vw;
    bottom: 66%;
  }
  100% {
    left: 100vw;
    bottom: 83%;
  }
}

@-webkit-keyframes duck_fly-2 {
  0% {
    left: -5vw;
    bottom: 65%;
  }
  25% {
    left: 25vw;
    bottom: 42%;
  }
  50% {
    left: 50vw;
    bottom: 40%;
  }
  75% {
    left: 75vw;
    bottom: 73%;
  }
  100% {
    left: 100vw;
    bottom: 82%;
  }
}

@keyframes duck_fly-2 {
  0% {
    left: -5vw;
    bottom: 65%;
  }
  25% {
    left: 25vw;
    bottom: 42%;
  }
  50% {
    left: 50vw;
    bottom: 40%;
  }
  75% {
    left: 75vw;
    bottom: 73%;
  }
  100% {
    left: 100vw;
    bottom: 82%;
  }
}

@-webkit-keyframes duck_fly-3 {
  0% {
    left: -5vw;
    bottom: 56%;
  }
  25% {
    left: 25vw;
    bottom: 3%;
  }
  50% {
    left: 50vw;
    bottom: 72%;
  }
  75% {
    left: 75vw;
    bottom: 68%;
  }
  100% {
    left: 100vw;
    bottom: 82%;
  }
}

@keyframes duck_fly-3 {
  0% {
    left: -5vw;
    bottom: 56%;
  }
  25% {
    left: 25vw;
    bottom: 3%;
  }
  50% {
    left: 50vw;
    bottom: 72%;
  }
  75% {
    left: 75vw;
    bottom: 68%;
  }
  100% {
    left: 100vw;
    bottom: 82%;
  }
}

@-webkit-keyframes duck_fly-4 {
  0% {
    left: -5vw;
    bottom: 58%;
  }
  25% {
    left: 25vw;
    bottom: 62%;
  }
  50% {
    left: 50vw;
    bottom: 44%;
  }
  75% {
    left: 75vw;
    bottom: 44%;
  }
  100% {
    left: 100vw;
    bottom: 40%;
  }
}

@keyframes duck_fly-4 {
  0% {
    left: -5vw;
    bottom: 58%;
  }
  25% {
    left: 25vw;
    bottom: 62%;
  }
  50% {
    left: 50vw;
    bottom: 44%;
  }
  75% {
    left: 75vw;
    bottom: 44%;
  }
  100% {
    left: 100vw;
    bottom: 40%;
  }
}

@-webkit-keyframes duck_fly-5 {
  0% {
    left: -5vw;
    bottom: 35%;
  }
  25% {
    left: 25vw;
    bottom: 86%;
  }
  50% {
    left: 50vw;
    bottom: 32%;
  }
  75% {
    left: 75vw;
    bottom: 86%;
  }
  100% {
    left: 100vw;
    bottom: 34%;
  }
}

@keyframes duck_fly-5 {
  0% {
    left: -5vw;
    bottom: 35%;
  }
  25% {
    left: 25vw;
    bottom: 86%;
  }
  50% {
    left: 50vw;
    bottom: 32%;
  }
  75% {
    left: 75vw;
    bottom: 86%;
  }
  100% {
    left: 100vw;
    bottom: 34%;
  }
}

@-webkit-keyframes duck_fly-6 {
  0% {
    left: -5vw;
    bottom: 86%;
  }
  25% {
    left: 25vw;
    bottom: 63%;
  }
  50% {
    left: 50vw;
    bottom: 76%;
  }
  75% {
    left: 75vw;
    bottom: 32%;
  }
  100% {
    left: 100vw;
    bottom: 30%;
  }
}

@keyframes duck_fly-6 {
  0% {
    left: -5vw;
    bottom: 86%;
  }
  25% {
    left: 25vw;
    bottom: 63%;
  }
  50% {
    left: 50vw;
    bottom: 76%;
  }
  75% {
    left: 75vw;
    bottom: 32%;
  }
  100% {
    left: 100vw;
    bottom: 30%;
  }
}

@-webkit-keyframes duck_fly-7 {
  0% {
    left: -5vw;
    bottom: 56%;
  }
  25% {
    left: 25vw;
    bottom: 55%;
  }
  50% {
    left: 50vw;
    bottom: 5%;
  }
  75% {
    left: 75vw;
    bottom: 21%;
  }
  100% {
    left: 100vw;
    bottom: 47%;
  }
}

@keyframes duck_fly-7 {
  0% {
    left: -5vw;
    bottom: 56%;
  }
  25% {
    left: 25vw;
    bottom: 55%;
  }
  50% {
    left: 50vw;
    bottom: 5%;
  }
  75% {
    left: 75vw;
    bottom: 21%;
  }
  100% {
    left: 100vw;
    bottom: 47%;
  }
}

@-webkit-keyframes duck_fly-8 {
  0% {
    left: -5vw;
    bottom: 14%;
  }
  25% {
    left: 25vw;
    bottom: 43%;
  }
  50% {
    left: 50vw;
    bottom: 68%;
  }
  75% {
    left: 75vw;
    bottom: 73%;
  }
  100% {
    left: 100vw;
    bottom: 70%;
  }
}

@keyframes duck_fly-8 {
  0% {
    left: -5vw;
    bottom: 14%;
  }
  25% {
    left: 25vw;
    bottom: 43%;
  }
  50% {
    left: 50vw;
    bottom: 68%;
  }
  75% {
    left: 75vw;
    bottom: 73%;
  }
  100% {
    left: 100vw;
    bottom: 70%;
  }
}

@-webkit-keyframes duck_fly-9 {
  0% {
    left: -5vw;
    bottom: 82%;
  }
  25% {
    left: 25vw;
    bottom: 30%;
  }
  50% {
    left: 50vw;
    bottom: 65%;
  }
  75% {
    left: 75vw;
    bottom: 85%;
  }
  100% {
    left: 100vw;
    bottom: 31%;
  }
}

@keyframes duck_fly-9 {
  0% {
    left: -5vw;
    bottom: 82%;
  }
  25% {
    left: 25vw;
    bottom: 30%;
  }
  50% {
    left: 50vw;
    bottom: 65%;
  }
  75% {
    left: 75vw;
    bottom: 85%;
  }
  100% {
    left: 100vw;
    bottom: 31%;
  }
}

@-webkit-keyframes duck_fly-10 {
  0% {
    left: -5vw;
    bottom: 90%;
  }
  25% {
    left: 25vw;
    bottom: 67%;
  }
  50% {
    left: 50vw;
    bottom: 61%;
  }
  75% {
    left: 75vw;
    bottom: 42%;
  }
  100% {
    left: 100vw;
    bottom: 1%;
  }
}

@keyframes duck_fly-10 {
  0% {
    left: -5vw;
    bottom: 90%;
  }
  25% {
    left: 25vw;
    bottom: 67%;
  }
  50% {
    left: 50vw;
    bottom: 61%;
  }
  75% {
    left: 75vw;
    bottom: 42%;
  }
  100% {
    left: 100vw;
    bottom: 1%;
  }
}

@-webkit-keyframes duck_fly-11 {
  0% {
    left: -5vw;
    bottom: 48%;
  }
  25% {
    left: 25vw;
    bottom: 11%;
  }
  50% {
    left: 50vw;
    bottom: 14%;
  }
  75% {
    left: 75vw;
    bottom: 46%;
  }
  100% {
    left: 100vw;
    bottom: 70%;
  }
}

@keyframes duck_fly-11 {
  0% {
    left: -5vw;
    bottom: 48%;
  }
  25% {
    left: 25vw;
    bottom: 11%;
  }
  50% {
    left: 50vw;
    bottom: 14%;
  }
  75% {
    left: 75vw;
    bottom: 46%;
  }
  100% {
    left: 100vw;
    bottom: 70%;
  }
}

@-webkit-keyframes duck_fly-12 {
  0% {
    left: -5vw;
    bottom: 66%;
  }
  25% {
    left: 25vw;
    bottom: 57%;
  }
  50% {
    left: 50vw;
    bottom: 34%;
  }
  75% {
    left: 75vw;
    bottom: 31%;
  }
  100% {
    left: 100vw;
    bottom: 63%;
  }
}

@keyframes duck_fly-12 {
  0% {
    left: -5vw;
    bottom: 66%;
  }
  25% {
    left: 25vw;
    bottom: 57%;
  }
  50% {
    left: 50vw;
    bottom: 34%;
  }
  75% {
    left: 75vw;
    bottom: 31%;
  }
  100% {
    left: 100vw;
    bottom: 63%;
  }
}

@-webkit-keyframes duck_fly-13 {
  0% {
    left: -5vw;
    bottom: 83%;
  }
  25% {
    left: 25vw;
    bottom: 10%;
  }
  50% {
    left: 50vw;
    bottom: 26%;
  }
  75% {
    left: 75vw;
    bottom: 34%;
  }
  100% {
    left: 100vw;
    bottom: 19%;
  }
}

@keyframes duck_fly-13 {
  0% {
    left: -5vw;
    bottom: 83%;
  }
  25% {
    left: 25vw;
    bottom: 10%;
  }
  50% {
    left: 50vw;
    bottom: 26%;
  }
  75% {
    left: 75vw;
    bottom: 34%;
  }
  100% {
    left: 100vw;
    bottom: 19%;
  }
}

@-webkit-keyframes duck_fly-14 {
  0% {
    left: -5vw;
    bottom: 43%;
  }
  25% {
    left: 25vw;
    bottom: 11%;
  }
  50% {
    left: 50vw;
    bottom: 72%;
  }
  75% {
    left: 75vw;
    bottom: 3%;
  }
  100% {
    left: 100vw;
    bottom: 16%;
  }
}

@keyframes duck_fly-14 {
  0% {
    left: -5vw;
    bottom: 43%;
  }
  25% {
    left: 25vw;
    bottom: 11%;
  }
  50% {
    left: 50vw;
    bottom: 72%;
  }
  75% {
    left: 75vw;
    bottom: 3%;
  }
  100% {
    left: 100vw;
    bottom: 16%;
  }
}

@-webkit-keyframes duck_fly-15 {
  0% {
    left: -5vw;
    bottom: 45%;
  }
  25% {
    left: 25vw;
    bottom: 25%;
  }
  50% {
    left: 50vw;
    bottom: 67%;
  }
  75% {
    left: 75vw;
    bottom: 83%;
  }
  100% {
    left: 100vw;
    bottom: 58%;
  }
}

@keyframes duck_fly-15 {
  0% {
    left: -5vw;
    bottom: 45%;
  }
  25% {
    left: 25vw;
    bottom: 25%;
  }
  50% {
    left: 50vw;
    bottom: 67%;
  }
  75% {
    left: 75vw;
    bottom: 83%;
  }
  100% {
    left: 100vw;
    bottom: 58%;
  }
}

@-webkit-keyframes duck_fly-16 {
  0% {
    left: -5vw;
    bottom: 39%;
  }
  25% {
    left: 25vw;
    bottom: 65%;
  }
  50% {
    left: 50vw;
    bottom: 59%;
  }
  75% {
    left: 75vw;
    bottom: 88%;
  }
  100% {
    left: 100vw;
    bottom: 57%;
  }
}

@keyframes duck_fly-16 {
  0% {
    left: -5vw;
    bottom: 39%;
  }
  25% {
    left: 25vw;
    bottom: 65%;
  }
  50% {
    left: 50vw;
    bottom: 59%;
  }
  75% {
    left: 75vw;
    bottom: 88%;
  }
  100% {
    left: 100vw;
    bottom: 57%;
  }
}

@-webkit-keyframes duck_fly-17 {
  0% {
    left: -5vw;
    bottom: 29%;
  }
  25% {
    left: 25vw;
    bottom: 29%;
  }
  50% {
    left: 50vw;
    bottom: 15%;
  }
  75% {
    left: 75vw;
    bottom: 11%;
  }
  100% {
    left: 100vw;
    bottom: 41%;
  }
}

@keyframes duck_fly-17 {
  0% {
    left: -5vw;
    bottom: 29%;
  }
  25% {
    left: 25vw;
    bottom: 29%;
  }
  50% {
    left: 50vw;
    bottom: 15%;
  }
  75% {
    left: 75vw;
    bottom: 11%;
  }
  100% {
    left: 100vw;
    bottom: 41%;
  }
}

@-webkit-keyframes duck_fly-18 {
  0% {
    left: -5vw;
    bottom: 15%;
  }
  25% {
    left: 25vw;
    bottom: 6%;
  }
  50% {
    left: 50vw;
    bottom: 82%;
  }
  75% {
    left: 75vw;
    bottom: 14%;
  }
  100% {
    left: 100vw;
    bottom: 66%;
  }
}

@keyframes duck_fly-18 {
  0% {
    left: -5vw;
    bottom: 15%;
  }
  25% {
    left: 25vw;
    bottom: 6%;
  }
  50% {
    left: 50vw;
    bottom: 82%;
  }
  75% {
    left: 75vw;
    bottom: 14%;
  }
  100% {
    left: 100vw;
    bottom: 66%;
  }
}

@-webkit-keyframes duck_fly-19 {
  0% {
    left: -5vw;
    bottom: 7%;
  }
  25% {
    left: 25vw;
    bottom: 46%;
  }
  50% {
    left: 50vw;
    bottom: 58%;
  }
  75% {
    left: 75vw;
    bottom: 84%;
  }
  100% {
    left: 100vw;
    bottom: 81%;
  }
}

@keyframes duck_fly-19 {
  0% {
    left: -5vw;
    bottom: 7%;
  }
  25% {
    left: 25vw;
    bottom: 46%;
  }
  50% {
    left: 50vw;
    bottom: 58%;
  }
  75% {
    left: 75vw;
    bottom: 84%;
  }
  100% {
    left: 100vw;
    bottom: 81%;
  }
}

@-webkit-keyframes duck_fly-20 {
  0% {
    left: -5vw;
    bottom: 75%;
  }
  25% {
    left: 25vw;
    bottom: 38%;
  }
  50% {
    left: 50vw;
    bottom: 18%;
  }
  75% {
    left: 75vw;
    bottom: 16%;
  }
  100% {
    left: 100vw;
    bottom: 6%;
  }
}

@keyframes duck_fly-20 {
  0% {
    left: -5vw;
    bottom: 75%;
  }
  25% {
    left: 25vw;
    bottom: 38%;
  }
  50% {
    left: 50vw;
    bottom: 18%;
  }
  75% {
    left: 75vw;
    bottom: 16%;
  }
  100% {
    left: 100vw;
    bottom: 6%;
  }
}

* {
  margin: 0;
  padding: 0;
}

section,
div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.play_field {
  width: 100%;
  height: 100vh;
  background-color: #0099ff;
  background-image: url(../img/Play_field.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  counter-reset: duck_count;
  cursor: crosshair;
}

.play_field__sky {
  width: 100%;
  height: 86vh;
  padding-top: 40vh;
  position: relative;
  overflow: hidden;
}

.play_field__sky__title {
  text-align: center;
  white-space: nowrap;
  font-size: 10vh;
  line-height: 12vh;
  color: #ffffff;
  -webkit-animation: letter_spacing_title 10s ease-out 1 0s normal forwards;
          animation: letter_spacing_title 10s ease-out 1 0s normal forwards;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.play_field__sky__duck__checkbox[type="checkbox"] {
  position: absolute;
  left: -900px;
  visibility: hidden;
}

.play_field__sky__duck__checkbox[type="checkbox"]:checked {
  counter-increment: duck_count;
}

.play_field__sky__duck__checkbox[type="checkbox"]:checked
+ .play_field__sky__duck__label {
  display: none;
}

.play_field__sky__duck__label {
  position: absolute;
}

.play_field__sky__duck__label-1 {
  animation: duck_fly-1 3s linear 21s 1 reverse both;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.play_field__sky__duck__label-2 {
  animation: duck_fly-2 6s linear 14s 1 reverse both;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.play_field__sky__duck__label-3 {
  animation: duck_fly-3 5s linear 13s 1 reverse both;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.play_field__sky__duck__label-4 {
  animation: duck_fly-4 6s linear 29s 1 reverse both;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.play_field__sky__duck__label-5 {
  animation: duck_fly-5 3s linear 31s 1 reverse both;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.play_field__sky__duck__label-6 {
  -webkit-animation: duck_fly-6 4s linear 21s 1 normal both;
          animation: duck_fly-6 4s linear 21s 1 normal both;
}

.play_field__sky__duck__label-7 {
  -webkit-animation: duck_fly-7 3s linear 31s 1 normal both;
          animation: duck_fly-7 3s linear 31s 1 normal both;
}

.play_field__sky__duck__label-8 {
  -webkit-animation: duck_fly-8 6s linear 27s 1 normal both;
          animation: duck_fly-8 6s linear 27s 1 normal both;
}

.play_field__sky__duck__label-9 {
  -webkit-animation: duck_fly-9 6s linear 27s 1 normal both;
          animation: duck_fly-9 6s linear 27s 1 normal both;
}

.play_field__sky__duck__label-10 {
  -webkit-animation: duck_fly-10 5s linear 29s 1 normal both;
          animation: duck_fly-10 5s linear 29s 1 normal both;
}

.play_field__sky__duck__label-11 {
  animation: duck_fly-11 5s linear 34s 1 reverse both;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.play_field__sky__duck__label-12 {
  animation: duck_fly-12 6s linear 35s 1 reverse both;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.play_field__sky__duck__label-13 {
  animation: duck_fly-13 4s linear 33s 1 reverse both;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.play_field__sky__duck__label-14 {
  animation: duck_fly-14 6s linear 37s 1 reverse both;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.play_field__sky__duck__label-15 {
  animation: duck_fly-15 4s linear 44s 1 reverse both;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.play_field__sky__duck__label-16 {
  -webkit-animation: duck_fly-16 5s linear 42s 1 normal both;
          animation: duck_fly-16 5s linear 42s 1 normal both;
}

.play_field__sky__duck__label-17 {
  -webkit-animation: duck_fly-17 5s linear 46s 1 normal both;
          animation: duck_fly-17 5s linear 46s 1 normal both;
}

.play_field__sky__duck__label-18 {
  -webkit-animation: duck_fly-18 3s linear 51s 1 normal both;
          animation: duck_fly-18 3s linear 51s 1 normal both;
}

.play_field__sky__duck__label-19 {
  -webkit-animation: duck_fly-19 3s linear 46s 1 normal both;
          animation: duck_fly-19 3s linear 46s 1 normal both;
}

.play_field__sky__duck__label-20 {
  -webkit-animation: duck_fly-20 4s linear 55s 1 normal both;
          animation: duck_fly-20 4s linear 55s 1 normal both;
}

.play_field__sky__duck__label__img {
  width: 5vw;
  height: auto;
}

.play_field__sky__duck__label__img:hover {
  cursor: move;
}

.play_field__sky__duck__label__img:active {
  cursor: move;
}

.play_field__land {
  width: 100%;
  height: 14vh;
  padding-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.play_field__land__button {
  color: blue;
  background: #00ffff47;
  font-size: 4vh;
  line-height: 5vh;
  padding: 1vh 2vw;
  margin-top: 2vh;
  margin-left: 2vw;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
}

.play_field__land__button:hover {
  color: cyan;
  background: #0000ff87;
}

.play_field__land__button:active {
  -webkit-transform: translateY(1vh);
          transform: translateY(1vh);
}

.play_field__land__count {
  text-align: right;
  font-size: 9vh;
  line-height: 10vh;
  color: #ffffff;
}

.play_field__land__count::after {
  content: counter(duck_count) "/20";
  font-size: 9vh;
  line-height: 10vh;
  margin-right: 2vw;
  margin-left: 0.5vw;
  color: #ffffff;
}

@media (max-width: 600px) {
  .play_field__sky__title {
    font-size: 6vh;
    line-height: 7vh;
  }
  .play_field__land__count {
    font-size: 5vh;
    line-height: 6vh;
  }
  .play_field__land__count::after {
    font-size: 5vh;
    line-height: 6vh;
  }
  .play_field__land__button {
    margin-top: 1vh;
    font-size: 3vh;
    line-height: 4vh;
  }
}

@media (max-width: 400px) {
  .play_field__sky__title {
    font-size: 4vh;
    line-height: 5vh;
  }
  .play_field__land__count {
    font-size: 3vh;
    line-height: 4vh;
  }
  .play_field__land__count::after {
    font-size: 3vh;
    line-height: 4vh;
  }
  .play_field__land__button {
    margin-top: 0;
    font-size: 2vh;
    line-height: 3vh;
  }
}

@media (max-width: 250px) {
  .play_field__land {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .play_field__land__button {
    padding: 1vh 10vw;
  }
  .play_field__land__count {
    line-height: 2vh;
    text-align: center;
    margin-left: 2vw;
  }
}
/*# sourceMappingURL=style.css.map */